body {
background-image:url(../img/body.png);
overflow-y:scroll;
margin:0;
}
* {
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;


}
#contenedor {
width:950px;
margin:0 auto;
box-shadow:0px 5px 52px indigo;

}


#snimka {
   
}

#glava {
    background-image:url(../img/encabezado.jpg);
    height:150px;
    
}

#cuerpo {
position:relative;
    width:950px;   
    margin-top:-5px;
	font-family:"Electrolize";
}
#lateral {

display:table-cell;
background-image:url(../img/laterala.jpg);
width:300px;
}

#contenido {
 background-image:url(../img/textaa.jpg);
 display:table-cell;
 width:650px;
padding:2em;
font-family:"Electrolize";
}
#pie {
     background-image:url(../img/pie.jpg);
	 height:50px;
	 text-align:center;
	 padding:1em;
	 font-family:"Electrolize";
    
}

/* display:table-cell; */